* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
scroll-behavior: smooth;
background-color: aliceblue;
}

#introduction h1{
    display: flex;
    justify-content: center;
}
#introduction p{
    font-family: cursive;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: #fcfcfc;
    box-shadow: 0 3px 5px rgba(0, 0, 0.1);
}

nav a {
    color: green;
    transition: 0.4s;
}
nav a:hover {
    color: rgb(0, 110, 255);
    border-bottom: 2px solid rgb(0, 110, 255);
}

nav ul {
    display: flex;
    gap: 1.8rem;
}
nav ul li {
    font-weight: 700;
}

.image {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 2.5rem;
    max-width: 70rem;
    margin: auto;
}

.image img {
    height: 40rem;
    width: 25rem;
}

h1 {
    color: orange;
    display: flex;
    justify-items: center;
    margin-top: 40px;

}
p {
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 1.5rem;
    
}


#skills button {
border: 3px solid black;
border-radius: 10px;
width: 70px;
height: 30px;
text-align: center;
margin: 1px;
margin-top: 20px;
color: green;
}
.two-divs{
    display: flex;
    justify-content: space-between;
}
.two-divs h3{
    color: green;
    margin-top: 20px;
}

#about h1 {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    color: green;
}
#about p {
font-family: cursive;
font-size: 20px;
}

#skills a{
    font-size: 20px;
    font-family: fantasy;
    color: orange;
}
#skills a:hover{
    color: green;
}